{% extends 'base.html.twig' %}

{% block title %}Nous Contacter | EfficienceIT{% endblock %}

{% block body %}
<div class="m-auto" style="max-width: 80%">
    <h1>Envoyer un email</h1>

    {{ include('contact/_form.html.twig') }}
</div>
{% endblock %}
